$primary: #121212;
$secondary: #3d3d3d;
$accent: #40dc82;

$emph-factor: 7.5%;

$_values: (
    primary: $primary,
    secondary: $secondary,
    accent: $accent,
);

@each $key, $value in $_values {
    $emph: if(
        lightness($value) > 50,
        darken($value, $emph-factor),
        lighten($value, $emph-factor)
    );

    .bg-#{$key} {
        background-color: $value;
    }

    .bg-#{$key}-emph {
        background-color: $emph;
    }

    .border-#{$key} {
        border-color: $value;
    }

    .border-#{$key}-emph {
        border-color: $emph;
    }

    .text-#{$key} {
        color: $value;
    }

    .text-#{$key}-emph {
        color: $emph;
    }
}
