$bg: #121212;

* {
    font-family: "DM Sans";
}

html {
    font-size: 14px;
}

.bg {
    background-color: $bg;
}

// Primevue Theming

.p-button {
    @apply px-3 py-1 !important;
    border-radius: 3px !important;
}
.p-inputtext {
    @apply py-1.5 px-2 !important;
    border-radius: 3px !important;
}
.p-divider-content {
    @apply px-4;
    background-color: $bg;
}
