body {
    font-family: "DM Sans";
}

html {
    @apply bg-surface-900 overflow-hidden;
    font-size: 14px;
}

.bg {
    @apply bg-surface-900;
}

.label {
    @apply text-sm text-surface-300;
}

// Primevue Theming
$border-radius: 4px;

.p-button {
    @apply px-3 py-1 !important;
    border-radius: $border-radius;
}
.p-inputtext {
    @apply py-1.5 px-2 !important;
    border-radius: $border-radius !important;
}
.p-divider-content {
    @apply px-4 bg-surface-950 !important;
}
